name: afiyas project tests
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
jobs:
  tests:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm install
    - run: npm test
    - uses: actions/upload-artifact@v3
      if: always()
      with:
        name: testReport
        path: |
          report.html
          jest-html-reporters-attach/report
          


    - name: Allure Report with history
      uses: simple-elf/allure-report-action@v1.6
